:root{
    --clr-lightBlue: #7dfbff;
}
h1{
    text-align: center;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*font subject to change*/
}