:root{
    --clr-lightBlue: #7dfbff;
    --clr-lightGrey: #dadada;
    --clr-white: #fff;
    --clr-gold: #c4c442;
    --clr-darkGrey: #272727;
    --fs-big: 2rem;
    --fs-medium: 1.5rem;
    --fs-small: 1rem;
}

.sidenav{
    height: 100%; /* 100% = Full height of screen*/
    width: 0px; /* 0 width- will change with javascript*/
    position: fixed; /* Keeps in place*/
    z-index: 1; /* Layers, 1 = on top*/
    top: 0; /* stay on the top*/
    left: 0; /* keep on leftside*/
    background-color: var(--clr-white);
    overflow-x: hidden; /* Disable to scroll horizontally*/
    padding-top: 60px; /* Places content 60px away from the top*/
    transition: 0.5s; /*transition effect to slide in nav*/
}

/*Style of text in sideNav*/
.sidenav a {
    padding:  8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

/*Color of link when hovering over*/
.sidenav a:hover {
    color: var(--clr-gold);
}

/*Postion of close button*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

h1{
    text-align: center;
    font-size: var(--fs-big);
    background-color: var(--clr-lightBlue);
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*font subject to change*/
    background-color: var(--clr-lightGrey);
}
footer{
    text-align: center;
    font-size: var(--fs-small);
    margin-top: 4rem;
    transform: translateY(800%);
}
.front-card{
    transform: translateX(55%);
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 7px;
    border: var(--clr-gold) solid 3px;
    max-width: 32rem;
    align-items: center;
    margin: 10rem;
    background-color: var(--clr-white);
}
.front-card img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
}
.carousel{
    border: var(--clr-gold) solid 3px;
    border-radius: 12px;
    max-width: 45rem;
    transform: translateX(55%);
    align-items: center;
    margin: 10rem;
    overflow-x: hidden;
    margin-left: -3rem;
}
.carousel-image{
max-width: 100%;
max-height: 100%;
}
.reports{
    margin-left: 35%;
}
.contact-methods{
    margin-left: 40%;
    padding-bottom: 50px;
}
.contact-opening, .contact-closing{
    text-align: center;
}
.employment-guide{
    margin-left: 20%;
}
.employment-opening{
    text-align: center;
}
.card-text{
    text-align: center;
}
.LessonHead{

}
.lessons-header{
    text-align: center;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color:var(--clr-gold);
    background-color: var(--clr-lightBlue);
    height: 4rem;
    padding-top: 2rem;
    font-size: var(--fs-big);
    
}
.lessonText{
    font-size: var(--fs-medium);
    text-align: center;
}
.RegSect{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--clr-lightBlue);
    text-align: center;
    border-style: solid;
    border-color: var(--clr-gold);
}
.RegLink{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-style: solid;
    border-color: var(--clr-gold);
    
}
.RegItem{
    border-style: solid;
    border-color: var(--clr-gold);
}
.RegLink a{
  color: black;  
  text-decoration: none;
}
.CampSect{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--clr-white);
    border-style: ridge;
    border-color: var(--clr-darkGrey);
    width: 20rem;
    transform: translateX(145%);
    z-index: 100;
}
.field{
    margin: 5px;
}
#Radio{
    display: grid;
    grid-template-columns: .5fr .5fr;
    align-content: left;
}
.camping-holder{
    max-width: max-content;
}
.camping-image{
    max-height: 10rem;
}